@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comfortaa:wght@300&family=Shojumaru&display=swap');

/*     font-family: 'Bangers', cursive;

    font-family: 'Comfortaa', cursive;

    font-family: 'Shojumaru', cursive; */


.character-card-v2 {
    width: 100%;
    background-color: #c1beb4;
    border: 3px solid #c1beb4;
    border-radius: 10px;
    display: inline-block;
    width: 375px;
    transition: all .2s ease;
}

    /*increase the value of box shadow*/
    .character-card-v2:hover {
        box-shadow: 0px 15px 25px black;
        border-bottom: 100px;
    }




    .character-card-v2 .portrait {
        height: 400px;
        width: 100%;
        background-color: white;
        border-radius: calc(10px - 3px);
        text-align: center;
        overflow: hidden;
        background-image: url("https://i.pinimg.com/736x/e3/3c/2f/e33c2fa94c03efa06678116f80d62d0d.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 10%;
        object-fit:cover;
    }


        .character-card-v2 .portrait img {
            width: inherit;
            height: inherit;
            background-color: white;
        }




    .character-card-v2 .details {
        background-color: transparent;
        color: black;
        width: 100%;
        padding: 10px;
        border-top: 0px;
        border-radius: calc(10px - 3px);
        box-sizing: border-box;
    }

    .character-card-v2 .names {
        margin-left: 5px;
        display: inline-block;
        width: calc(100% - (1.75em + 1.5em));
        font-size: 1.2em;
    }

        .character-card-v2 .names .full-name, .character-card-v2 .names .title {
            display: block;
            text-align: left;
            font-size: 3em;
        }

        .character-card-v2 .names small {
            font-family: 'Comfortaa', cursive;
            font-size: 1.25em;
            color: orange;
        }

    .character-card-v2 .classes {
        margin-top: 10px;
        font-size: 1em;
    }

        .character-card-v2 .classes > :last-child {
            padding-left: 5px;
        }

    .character-card-v2.card-red {
        background-color: #962828;
        border-color: #6e1d1d;
    }


        .character-card-v2.card-red .details {
            color: white;
        }

    .character-card-v2.card-green {
        background-color: #289640;
        border-color: #1d6e2f;
    }


        .character-card-v2.card-green .details {
            color: white;
        }

    .character-card-v2.card-blue {
        background-color: #285e96;
        border-color: #1d456e;
    }


        .character-card-v2.card-blue .details {
            color: white;
        }

.class-badge {
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    height: 1.43em;
    font-size: 1.5em;
    font-family: 'Shojumaru', cursive;
    font-weight: bold;
    border-radius: 0.72em;
    background-color: #888888;
    color: white;
    padding: 0 0.5em;
    line-height: 1.4em;
    margin: 0.2em 0.1em;
}



    .class-badge.badge-full {
        width: 100%;
    }

    .class-badge.badge-red {
        background-color: #6e1d1d;
    }


    .class-badge.badge-blue {
        background-color: #1d456e;
    }


    .class-badge.badge-green {
        background-color: #1d6e2f;
    }

.glitch-wrapper {
  height: 100%;
  display: flex;
  
  font-family:Bangers;
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
  line-height: 1;
}
.glitch {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(114px, 9999px, 63px, 0);
  }
  4.166666666666666% {
    clip: rect(37px, 9999px, 9px, 0);
  }
  8.333333333333332% {
    clip: rect(6px, 9999px, 40px, 0);
  }
  12.5% {
    clip: rect(45px, 9999px, 126px, 0);
  }
  16.666666666666664% {
    clip: rect(16px, 9999px, 131px, 0);
  }
  20.833333333333336% {
    clip: rect(54px, 9999px, 100px, 0);
  }
  25% {
    clip: rect(98px, 9999px, 121px, 0);
  }
  29.166666666666668% {
    clip: rect(4px, 9999px, 87px, 0);
  }
  33.33333333333333% {
    clip: rect(104px, 9999px, 78px, 0);
  }
  37.5% {
    clip: rect(35px, 9999px, 19px, 0);
  }
  41.66666666666667% {
    clip: rect(47px, 9999px, 149px, 0);
  }
  45.83333333333333% {
    clip: rect(11px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(60px, 9999px, 80px, 0);
  }
  54.166666666666664% {
    clip: rect(25px, 9999px, 41px, 0);
  }
  58.333333333333336% {
    clip: rect(51px, 9999px, 68px, 0);
  }
  62.5% {
    clip: rect(144px, 9999px, 128px, 0);
  }
  66.66666666666666% {
    clip: rect(117px, 9999px, 53px, 0);
  }
  70.83333333333334% {
    clip: rect(147px, 9999px, 10px, 0);
  }
  75% {
    clip: rect(28px, 9999px, 145px, 0);
  }
  79.16666666666666% {
    clip: rect(6px, 9999px, 94px, 0);
  }
  83.33333333333334% {
    clip: rect(13px, 9999px, 29px, 0);
  }
  87.5% {
    clip: rect(35px, 9999px, 14px, 0);
  }
  91.66666666666666% {
    clip: rect(93px, 9999px, 77px, 0);
  }
  95.83333333333334% {
    clip: rect(22px, 9999px, 32px, 0);
  }
  100% {
    clip: rect(98px, 9999px, 141px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(114px, 9999px, 63px, 0);
  }
  4.166666666666666% {
    clip: rect(37px, 9999px, 9px, 0);
  }
  8.333333333333332% {
    clip: rect(6px, 9999px, 40px, 0);
  }
  12.5% {
    clip: rect(45px, 9999px, 126px, 0);
  }
  16.666666666666664% {
    clip: rect(16px, 9999px, 131px, 0);
  }
  20.833333333333336% {
    clip: rect(54px, 9999px, 100px, 0);
  }
  25% {
    clip: rect(98px, 9999px, 121px, 0);
  }
  29.166666666666668% {
    clip: rect(4px, 9999px, 87px, 0);
  }
  33.33333333333333% {
    clip: rect(104px, 9999px, 78px, 0);
  }
  37.5% {
    clip: rect(35px, 9999px, 19px, 0);
  }
  41.66666666666667% {
    clip: rect(47px, 9999px, 149px, 0);
  }
  45.83333333333333% {
    clip: rect(11px, 9999px, 37px, 0);
  }
  50% {
    clip: rect(60px, 9999px, 80px, 0);
  }
  54.166666666666664% {
    clip: rect(25px, 9999px, 41px, 0);
  }
  58.333333333333336% {
    clip: rect(51px, 9999px, 68px, 0);
  }
  62.5% {
    clip: rect(144px, 9999px, 128px, 0);
  }
  66.66666666666666% {
    clip: rect(117px, 9999px, 53px, 0);
  }
  70.83333333333334% {
    clip: rect(147px, 9999px, 10px, 0);
  }
  75% {
    clip: rect(28px, 9999px, 145px, 0);
  }
  79.16666666666666% {
    clip: rect(6px, 9999px, 94px, 0);
  }
  83.33333333333334% {
    clip: rect(13px, 9999px, 29px, 0);
  }
  87.5% {
    clip: rect(35px, 9999px, 14px, 0);
  }
  91.66666666666666% {
    clip: rect(93px, 9999px, 77px, 0);
  }
  95.83333333333334% {
    clip: rect(22px, 9999px, 32px, 0);
  }
  100% {
    clip: rect(98px, 9999px, 141px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(74px, 9999px, 125px, 0);
  }
  10% {
    clip: rect(94px, 9999px, 115px, 0);
  }
  13.333333333333334% {
    clip: rect(25px, 9999px, 143px, 0);
  }
  16.666666666666664% {
    clip: rect(61px, 9999px, 116px, 0);
  }
  20% {
    clip: rect(35px, 9999px, 38px, 0);
  }
  23.333333333333332% {
    clip: rect(126px, 9999px, 150px, 0);
  }
  26.666666666666668% {
    clip: rect(7px, 9999px, 102px, 0);
  }
  30% {
    clip: rect(44px, 9999px, 85px, 0);
  }
  33.33333333333333% {
    clip: rect(135px, 9999px, 74px, 0);
  }
  36.666666666666664% {
    clip: rect(43px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(19px, 9999px, 22px, 0);
  }
  43.333333333333336% {
    clip: rect(90px, 9999px, 78px, 0);
  }
  46.666666666666664% {
    clip: rect(100px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(49px, 9999px, 49px, 0);
  }
  53.333333333333336% {
    clip: rect(107px, 9999px, 146px, 0);
  }
  56.666666666666664% {
    clip: rect(96px, 9999px, 36px, 0);
  }
  60% {
    clip: rect(25px, 9999px, 116px, 0);
  }
  63.33333333333333% {
    clip: rect(115px, 9999px, 65px, 0);
  }
  66.66666666666666% {
    clip: rect(68px, 9999px, 13px, 0);
  }
  70% {
    clip: rect(48px, 9999px, 33px, 0);
  }
  73.33333333333333% {
    clip: rect(146px, 9999px, 146px, 0);
  }
  76.66666666666667% {
    clip: rect(105px, 9999px, 75px, 0);
  }
  80% {
    clip: rect(142px, 9999px, 123px, 0);
  }
  83.33333333333334% {
    clip: rect(119px, 9999px, 79px, 0);
  }
  86.66666666666667% {
    clip: rect(131px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(140px, 9999px, 135px, 0);
  }
  93.33333333333333% {
    clip: rect(36px, 9999px, 34px, 0);
  }
  96.66666666666667% {
    clip: rect(60px, 9999px, 35px, 0);
  }
  100% {
    clip: rect(30px, 9999px, 144px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(74px, 9999px, 125px, 0);
  }
  10% {
    clip: rect(94px, 9999px, 115px, 0);
  }
  13.333333333333334% {
    clip: rect(25px, 9999px, 143px, 0);
  }
  16.666666666666664% {
    clip: rect(61px, 9999px, 116px, 0);
  }
  20% {
    clip: rect(35px, 9999px, 38px, 0);
  }
  23.333333333333332% {
    clip: rect(126px, 9999px, 150px, 0);
  }
  26.666666666666668% {
    clip: rect(7px, 9999px, 102px, 0);
  }
  30% {
    clip: rect(44px, 9999px, 85px, 0);
  }
  33.33333333333333% {
    clip: rect(135px, 9999px, 74px, 0);
  }
  36.666666666666664% {
    clip: rect(43px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(19px, 9999px, 22px, 0);
  }
  43.333333333333336% {
    clip: rect(90px, 9999px, 78px, 0);
  }
  46.666666666666664% {
    clip: rect(100px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(49px, 9999px, 49px, 0);
  }
  53.333333333333336% {
    clip: rect(107px, 9999px, 146px, 0);
  }
  56.666666666666664% {
    clip: rect(96px, 9999px, 36px, 0);
  }
  60% {
    clip: rect(25px, 9999px, 116px, 0);
  }
  63.33333333333333% {
    clip: rect(115px, 9999px, 65px, 0);
  }
  66.66666666666666% {
    clip: rect(68px, 9999px, 13px, 0);
  }
  70% {
    clip: rect(48px, 9999px, 33px, 0);
  }
  73.33333333333333% {
    clip: rect(146px, 9999px, 146px, 0);
  }
  76.66666666666667% {
    clip: rect(105px, 9999px, 75px, 0);
  }
  80% {
    clip: rect(142px, 9999px, 123px, 0);
  }
  83.33333333333334% {
    clip: rect(119px, 9999px, 79px, 0);
  }
  86.66666666666667% {
    clip: rect(131px, 9999px, 22px, 0);
  }
  90% {
    clip: rect(140px, 9999px, 135px, 0);
  }
  93.33333333333333% {
    clip: rect(36px, 9999px, 34px, 0);
  }
  96.66666666666667% {
    clip: rect(60px, 9999px, 35px, 0);
  }
  100% {
    clip: rect(30px, 9999px, 144px, 0);
  }
}
