@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comfortaa:wght@300&family=Shojumaru&display=swap');

/*     font-family: 'Bangers', cursive;

    font-family: 'Comfortaa', cursive;

    font-family: 'Shojumaru', cursive; */


.character-card-v2 {
    width: 100%;
    background-color: #c1beb4;
    border: 3px solid #c1beb4;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    width: 375px;
    transition: all .2s ease;
}

    /*increase the value of box shadow*/
    .character-card-v2:hover {
        box-shadow: 0px 15px 25px black;
        border-bottom: 100px;
    }




    .character-card-v2 .portrait {
        height: 400px;
        width: 100%;
        background-color: white;
        border-radius: calc(10px - 3px);
        text-align: center;
        overflow: hidden;
        background-image: url("https://i.pinimg.com/736x/e3/3c/2f/e33c2fa94c03efa06678116f80d62d0d.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 25%;
        background-position: 50% 10%;
    }


        .character-card-v2 .portrait img {
            width: inherit;
            height: inherit;
            background-color: white;
        }




    .character-card-v2 .details {
        background-color: transparent;
        color: black;
        width: 100%;
        padding: 10px;
        border-top: 0px;
        border-radius: calc(10px - 3px);
        box-sizing: border-box;
    }

    .character-card-v2 .names {
        margin-left: 5px;
        display: inline-block;
        width: calc(100% - (1.75em + 1.5em));
        font-size: 1.2em;
    }

        .character-card-v2 .names .full-name, .character-card-v2 .names .title {
            display: block;
            text-align: left;
            font-size: 3em;
        }

        .character-card-v2 .names small {
            font-family: 'Comfortaa', cursive;
            font-size: 1.25em;
            color: orange;
        }

    .character-card-v2 .classes {
        margin-top: 10px;
        font-size: 1em;
    }

        .character-card-v2 .classes > :last-child {
            padding-left: 5px;
        }

    .character-card-v2.card-red {
        background-color: #962828;
        border-color: #6e1d1d;
    }


        .character-card-v2.card-red .details {
            color: white;
        }

    .character-card-v2.card-green {
        background-color: #289640;
        border-color: #1d6e2f;
    }


        .character-card-v2.card-green .details {
            color: white;
        }

    .character-card-v2.card-blue {
        background-color: #285e96;
        border-color: #1d456e;
    }


        .character-card-v2.card-blue .details {
            color: white;
        }

.class-badge {
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    height: 1.43em;
    font-size: 1.5em;
    font-family: 'Shojumaru', cursive;
    font-weight: bold;
    border-radius: 0.72em;
    background-color: #888888;
    color: white;
    padding: 0 0.5em;
    line-height: 1.4em;
    margin: 0.2em 0.1em;
}



    .class-badge.badge-full {
        width: 100%;
    }

    .class-badge.badge-red {
        background-color: #6e1d1d;
    }


    .class-badge.badge-blue {
        background-color: #1d456e;
    }


    .class-badge.badge-green {
        background-color: #1d6e2f;
    }





.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    width: 400px;
    margin: 0 auto;
    font-family: 'Bangers', cursive;
}

@keyframes noise-anim {
    0% {
        clip: rect(37px, 9999px, 99px, 0);
    }

    5% {
        clip: rect(3px, 9999px, 38px, 0);
    }

    10% {
        clip: rect(91px, 9999px, 61px, 0);
    }

    15% {
        clip: rect(3px, 9999px, 17px, 0);
    }

    20% {
        clip: rect(69px, 9999px, 27px, 0);
    }

    25% {
        clip: rect(30px, 9999px, 45px, 0);
    }

    30% {
        clip: rect(2px, 9999px, 91px, 0);
    }

    35% {
        clip: rect(19px, 9999px, 82px, 0);
    }

    40% {
        clip: rect(48px, 9999px, 53px, 0);
    }

    45% {
        clip: rect(69px, 9999px, 33px, 0);
    }

    50% {
        clip: rect(23px, 9999px, 51px, 0);
    }

    55% {
        clip: rect(19px, 9999px, 42px, 0);
    }

    60% {
        clip: rect(100px, 9999px, 93px, 0);
    }

    65% {
        clip: rect(4px, 9999px, 36px, 0);
    }

    70% {
        clip: rect(18px, 9999px, 42px, 0);
    }

    75% {
        clip: rect(89px, 9999px, 21px, 0);
    }

    80% {
        clip: rect(87px, 9999px, 34px, 0);
    }

    85% {
        clip: rect(28px, 9999px, 12px, 0);
    }

    90% {
        clip: rect(76px, 9999px, 36px, 0);
    }

    95% {
        clip: rect(32px, 9999px, 66px, 0);
    }

    100% {
        clip: rect(43px, 9999px, 70px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(43px, 9999px, 35px, 0);
    }

    5% {
        clip: rect(7px, 9999px, 54px, 0);
    }

    10% {
        clip: rect(20px, 9999px, 80px, 0);
    }

    15% {
        clip: rect(60px, 9999px, 99px, 0);
    }

    20% {
        clip: rect(60px, 9999px, 37px, 0);
    }

    25% {
        clip: rect(70px, 9999px, 53px, 0);
    }

    30% {
        clip: rect(39px, 9999px, 27px, 0);
    }

    35% {
        clip: rect(9px, 9999px, 76px, 0);
    }

    40% {
        clip: rect(60px, 9999px, 16px, 0);
    }

    45% {
        clip: rect(12px, 9999px, 38px, 0);
    }

    50% {
        clip: rect(7px, 9999px, 38px, 0);
    }

    55% {
        clip: rect(44px, 9999px, 13px, 0);
    }

    60% {
        clip: rect(51px, 9999px, 25px, 0);
    }

    65% {
        clip: rect(96px, 9999px, 52px, 0);
    }

    70% {
        clip: rect(55px, 9999px, 70px, 0);
    }

    75% {
        clip: rect(1px, 9999px, 94px, 0);
    }

    80% {
        clip: rect(5px, 9999px, 1px, 0);
    }

    85% {
        clip: rect(86px, 9999px, 63px, 0);
    }

    90% {
        clip: rect(75px, 9999px, 14px, 0);
    }

    95% {
        clip: rect(45px, 9999px, 60px, 0);
    }

    100% {
        clip: rect(44px, 9999px, 49px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}