@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comfortaa:wght@300&family=Shojumaru&display=swap');

/*     font-family: 'Bangers', cursive;

    font-family: 'Comfortaa', cursive;

    font-family: 'Shojumaru', cursive; */


.character-card-v2 {
    width: 100%;
    background-color: #c1beb4;
    border: 3px solid #c1beb4;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    width: 375px;
    transition: all .2s ease;
}

    /*increase the value of box shadow*/
    .character-card-v2:hover {
        box-shadow: 0px 15px 25px black;
        border-bottom: 100px;
    }




    .character-card-v2 .portrait {
        height: 400px;
        width: 100%;
        background-color: white;
        border-radius: calc(10px - 3px);
        text-align: center;
        overflow: hidden;
        background-image: url("https://i.pinimg.com/736x/e3/3c/2f/e33c2fa94c03efa06678116f80d62d0d.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: 50% 10%;
    }


        .character-card-v2 .portrait img {
            width: inherit;
            height: inherit;
            background-color: white;
        }




    .character-card-v2 .details {
        background-color: transparent;
        color: black;
        width: 100%;
        padding: 10px;
        border-top: 0px;
        border-radius: calc(10px - 3px);
        box-sizing: border-box;
    }

    .character-card-v2 .names {
        margin-left: 5px;
        display: inline-block;
        width: calc(100% - (1.75em + 1.5em));
        font-size: 1.2em;
    }

        .character-card-v2 .names .full-name, .character-card-v2 .names .title {
            display: block;
            text-align: left;
            font-size: 3em;
        }

        .character-card-v2 .names small {
            font-family: 'Comfortaa', cursive;
            font-size: 1.25em;
            color: orange;
        }

    .character-card-v2 .classes {
        margin-top: 10px;
        font-size: 1em;
    }

        .character-card-v2 .classes > :last-child {
            padding-left: 5px;
        }

    .character-card-v2.card-red {
        background-color: #962828;
        border-color: #6e1d1d;
    }


        .character-card-v2.card-red .details {
            color: white;
        }

    .character-card-v2.card-green {
        background-color: #289640;
        border-color: #1d6e2f;
    }


        .character-card-v2.card-green .details {
            color: white;
        }

    .character-card-v2.card-blue {
        background-color: #285e96;
        border-color: #1d456e;
    }


        .character-card-v2.card-blue .details {
            color: white;
        }

.class-badge {
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
    height: 1.43em;
    font-size: 1.5em;
    font-family: 'Shojumaru', cursive;
    font-weight: bold;
    border-radius: 0.72em;
    background-color: #888888;
    color: white;
    padding: 0 0.5em;
    line-height: 1.4em;
    margin: 0.2em 0.1em;
}



    .class-badge.badge-full {
        width: 100%;
    }

    .class-badge.badge-red {
        background-color: #6e1d1d;
    }


    .class-badge.badge-blue {
        background-color: #1d456e;
    }


    .class-badge.badge-green {
        background-color: #1d6e2f;
    }

.bigname {
    font-family:Bangers;
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.9rem;
}